.popup__photo-close-button {
  margin-right: -10px;
  margin-bottom: -7px;
  flex-direction: row;
  align-self: flex-end;
}

@media screen and (max-width: 560px) {
  .popup__photo-close-button {
    margin-right: 40px;
    margin-bottom: -3px;
  }
}